.container{
    width: 700px;
    background-color: #4dabf7;
    padding: 1rem;
    color: white;
}

label,input {
    display: block;
    width: 100%;
    position: relative;
    padding: .5rem;
}

label{
    padding-left: 0;
}



input{
    border: none;
    outline: none;
    color: white;
    background-color: transparent;
    border: 1px solid white;
}

input::placeholder,textarea::placeholder{
    color: white;
}


.two-column{
    display: flex;
    justify-content: space-between;
    gap: 1rem;
}

.two-column > div {
    flex: 1;
}


input[type='date']{
    padding-left: 1.5rem;
}
input[type='date']::-webkit-calendar-picker-indicator{
    width: 15px;
    position: absolute;
    top: .5rem;
    left: .4rem;
}


.description{
    height: 300px;
    width: 100%;
    display: block;
    outline: none;
    border: none;
    padding: .5rem;
    background-color: transparent;
    border: 1px solid white;
}
